@import "~src/styles/variables";

.main-panel-inner {
    margin-left: 320px;
}

.breadcrumb {
    border-radius: 0;
    background-color: #F8FAFB;
    .breadcrumb-item {
        font-size: 14px;
        &.active {
            color: $secondary-color;
        }
        a {
            text-decoration: none;
            color: inherit;
        }
    }
}