@import "~src/styles/abstracts/variables";

.btn {
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    border: 2px solid transparent;
    padding: 8px 16px;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    background-color: transparent;
    i {
        margin-right: 4px;
    }
    &:hover {
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
            0 2px 10px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
            0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
    &:focus {
        -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
            0 4px 15px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
            0 4px 15px 0 rgba(0, 0, 0, 0.15);
    }
    &.disabled,
    &[disabled] {
        cursor: default;
        pointer-events: none;
    }
    @media (min-width: 768px) {
        font-size: 16px;
    }
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: none;
}

.btn-default {
    color: #333;
    background-color: #efefef;
    border-color: #efefef;
    &:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #e6e6e6;
    }
    &:focus,
    &.focus {
        color: #333;
        background-color: #e6e6e6;
        border-color: #e6e6e6;
    }
    &:active,
    &.active {
        color: #333;
        background-color: #e6e6e6;
        border-color: #e6e6e6;
        &:hover,
        &:focus,
        &.focus {
            color: #333;
            background-color: #e6e6e6;
            border-color: #e6e6e6;
        }
    }
    &.disabled,
    &[disabled] {
        &:hover,
        &:focus,
        &.focus {
            color: #333;
            background-color: #e6e6e6;
            border-color: #e6e6e6;
        }
    }
}

.open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}

.open > .dropdown-toggle.btn-default:hover,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}

.btn-primary {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
    &:hover {
        color: #fff;
        background-color: $primary-color-dark;
        border-color: $primary-color-dark;
    }
    &:focus,
    &.focus {
        color: #fff;
        background-color: $primary-color-dark;
        border-color: $primary-color-dark;
    }
    &:active,
    &.active {
        color: #fff;
        background-color: $primary-color-dark;
        border-color: $primary-color-dark;
        &:hover,
        &:focus,
        &.focus {
            color: #fff;
            background-color: $primary-color-dark;
            border-color: $primary-color-dark;
        }
    }
    &.disabled,
    &[disabled] {
        &:hover,
        &:focus,
        &.focus {
            background-color: $primary-color-dark;
            border-color: $primary-color-dark;
        }
    }
}

.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: $primary-color-dark;
    border-color: $primary-color-dark;
}

.open > .dropdown-toggle.btn-primary:hover,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: $primary-color-dark;
    border-color: $primary-color-dark;
}

.btn-secondary {
    color: #fff;
    background-color: $secondary-color;
    border-color: $secondary-color;
    &:hover {
        color: #fff;
        background-color: $secondary-color-dark;
        border-color: $secondary-color-dark;
    }
    &:focus,
    &.focus {
        color: #fff;
        background-color: $secondary-color-dark;
        border-color: $secondary-color-dark;
    }
    &:active,
    &.active {
        color: #fff;
        background-color: $secondary-color-dark;
        border-color: $secondary-color-dark;
        &:hover,
        &:focus,
        &.focus {
            color: #fff;
            background-color: $secondary-color-dark;
            border-color: $secondary-color-dark;
        }
    }
    &.disabled,
    &[disabled] {
        &:hover,
        &:focus,
        &.focus {
            background-color: $secondary-color-dark;
            border-color: $secondary-color-dark;
        }
    }
}

.open > .dropdown-toggle.btn-secondary {
    color: #fff;
    background-color: $secondary-color-dark;
    border-color: $secondary-color-dark;
}

.open > .dropdown-toggle.btn-secondary:hover,
.open > .dropdown-toggle.btn-secondary:focus,
.open > .dropdown-toggle.btn-secondary.focus {
    color: #fff;
    background-color: $secondary-color-dark;
    border-color: $secondary-color-dark;
}

.btn-success {
    color: #fff;
    background-color: $success-color;
    border-color: $success-color;
    &:hover {
        color: #fff;
        background-color: $success-color-dark;
        border-color: $success-color-dark;
    }
    &:focus,
    &.focus {
        color: #fff;
        background-color: $success-color-dark;
        border-color: $success-color-dark;
    }
    &:active,
    &.active {
        color: #fff;
        background-color: $success-color-dark;
        border-color: $success-color-dark;
        &:hover,
        &:focus,
        &.focus {
            color: #fff;
            background-color: $success-color-dark;
            border-color: $success-color-dark;
        }
    }
    &.disabled,
    &[disabled] {
        &:hover,
        &:focus,
        &.focus {
            background-color: $success-color-dark;
            border-color: $success-color-dark;
        }
    }
}

.open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: $success-color-dark;
    border-color: $success-color-dark;
}

.open > .dropdown-toggle.btn-success:hover,
.open > .dropdown-toggle.btn-success:focus,
.open > .dropdown-toggle.btn-success.focus {
    color: #fff;
    background-color: $success-color-dark;
    border-color: $success-color-dark;
}

.btn-danger {
    color: #fff;
    background-color: $danger-color;
    border-color: $danger-color;
    &:hover {
        color: #fff;
        background-color: $danger-color-dark;
        border-color: $danger-color-dark;
    }
    &:focus,
    &.focus {
        color: #fff;
        background-color: $danger-color-dark;
        border-color: $danger-color-dark;
    }
    &:active,
    &.active {
        color: #fff;
        background-color: $danger-color-dark;
        border-color: $danger-color-dark;
        &:hover,
        &:focus,
        &.focus {
            color: #fff;
            background-color: $danger-color-dark;
            border-color: $danger-color-dark;
        }
    }
    &.disabled,
    &[disabled] {
        &:hover,
        &:focus,
        &.focus {
            background-color: $danger-color-dark;
            border-color: $danger-color-dark;
        }
    }
}

.open > .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: $danger-color-dark;
    border-color: $danger-color-dark;
}

.open > .dropdown-toggle.btn-danger:hover,
.open > .dropdown-toggle.btn-danger:focus,
.open > .dropdown-toggle.btn-danger.focus {
    color: #fff;
    background-color: $danger-color-dark;
    border-color: $danger-color-dark;
}

.btn-warning {
    color: #212529;
    background-color: $warning-color;
    border-color: $warning-color;
    &:hover {
        color: #212529;
        background-color: $warning-color-dark;
        border-color: $warning-color-dark;
    }
    &:focus,
    &.focus {
        color: #212529;
        background-color: $warning-color-dark;
        border-color: $warning-color-dark;
    }
    &:active,
    &.active {
        color: #212529;
        background-color: $warning-color-dark;
        border-color: $warning-color-dark;
        &:hover,
        &:focus,
        &.focus {
            color: #212529;
            background-color: $warning-color-dark;
            border-color: $warning-color-dark;
        }
    }
    &.disabled,
    &[disabled] {
        &:hover,
        &:focus,
        &.focus {
            background-color: $warning-color-dark;
            border-color: $warning-color-dark;
        }
    }
}

.open > .dropdown-toggle.btn-warning {
    color: #212529;
    background-color: $warning-color-dark;
    border-color: $warning-color-dark;
}

.open > .dropdown-toggle.btn-warning:hover,
.open > .dropdown-toggle.btn-warning:focus,
.open > .dropdown-toggle.btn-warning.focus {
    color: #212529;
    background-color: $warning-color-dark;
    border-color: $warning-color-dark;
}

.btn-info {
    color: #fff;
    background-color: $info-color;
    border-color: $info-color;
    &:hover {
        color: #fff;
        background-color: $info-color-dark;
        border-color: $info-color-dark;
    }
    &:focus,
    &.focus {
        color: #fff;
        background-color: $info-color-dark;
        border-color: $info-color-dark;
    }
    &:active,
    &.active {
        color: #fff;
        background-color: $info-color-dark;
        border-color: $info-color-dark;
        &:hover,
        &:focus,
        &.focus {
            color: #fff;
            background-color: $info-color-dark;
            border-color: $info-color-dark;
        }
    }
    &.disabled,
    &[disabled] {
        &:hover,
        &:focus,
        &.focus {
            background-color: $info-color-dark;
            border-color: $info-color-dark;
        }
    }
}

.open > .dropdown-toggle.btn-info {
    color: #fff;
    background-color: $info-color-dark;
    border-color: $info-color-dark;
}

.open > .dropdown-toggle.btn-info:hover,
.open > .dropdown-toggle.btn-info:focus,
.open > .dropdown-toggle.btn-info.focus {
    color: #fff;
    background-color: $info-color-dark;
    border-color: $info-color-dark;
}


.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    &:hover {
        color: #212529;
        background-color: #e2e6ea;
        border-color: #dae0e5;
    }
    &:focus,
    &.focus {
        color: #212529;
        background-color: #e2e6ea;
        border-color: #dae0e5;
    }
    &:active,
    &.active {
        color: #212529;
        background-color: #e2e6ea;
        border-color: #dae0e5;
        &:hover,
        &:focus,
        &.focus {
            color: #212529;
            background-color: #e2e6ea;
            border-color: #dae0e5;
        }
    }
    &.disabled,
    &[disabled] {
        &:hover,
        &:focus,
        &.focus {
            background-color: #e2e6ea;
            border-color: #dae0e5;
        }
    }
}

.open > .dropdown-toggle.btn-light {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.open > .dropdown-toggle.btn-light:hover,
.open > .dropdown-toggle.btn-light:focus,
.open > .dropdown-toggle.btn-light.focus {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.btn-gray {
    color: #333;
    background-color: #c5c5c5;
    border-color: #c5c5c5;
    &:hover {
        color: #212529;
        background-color: #bfbfbf;
        border-color: #bfbfbf;
    }
    &:focus,
    &.focus {
        color: #212529;
        background-color: #bfbfbf;
        border-color: #bfbfbf;
    }
    &:active,
    &.active {
        color: #212529;
        background-color: #bfbfbf;
        border-color: #bfbfbf;
        &:hover,
        &:focus,
        &.focus {
            color: #212529;
            background-color: #bfbfbf;
            border-color: #bfbfbf;
        }
    }
    &.disabled,
    &[disabled] {
        &:hover,
        &:focus,
        &.focus {
            background-color: #bfbfbf;
            border-color: #bfbfbf;
        }
    }
}

.open > .dropdown-toggle.btn-gray {
    color: #212529;
    background-color: #a2a2a2;
    border-color: #a2a2a2;
}

.open > .dropdown-toggle.btn-gray:hover,
.open > .dropdown-toggle.btn-gray:focus,
.open > .dropdown-toggle.btn-gray.focus {
    color: #212529;
    background-color: #a2a2a2;
    border-color: #a2a2a2;
}

.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    &:hover {
        color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
    }
    &:focus,
    &.focus {
        color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
    }
    &:active,
    &.active {
        color: #fff;
        background-color: #23272b;
        border-color: #1d2124;
        &:hover,
        &:focus,
        &.focus {
            color: #fff;
        background-color: #23272b;
        border-color: #1d2124;
        }
    }
    &.disabled,
    &[disabled] {
        &:hover,
        &:focus,
        &.focus {
            background-color: #23272b;
            border-color: #1d2124;
        }
    }
}

.open > .dropdown-toggle.btn-dark {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}

.open > .dropdown-toggle.btn-dark:hover,
.open > .dropdown-toggle.btn-dark:focus,
.open > .dropdown-toggle.btn-dark.focus {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}

.btn-outline-default {
    border-color: #efefef;
    color: #333;
    &:hover {
        color: #333;
        background-color: #efefef;
        border-color: #efefef;
    }
    &:focus,
    &.focus {
        color: #333;
        background-color: #efefef;
        border-color: #efefef;
    }
    &:active,
    &.active {
        color: #333;
        background-color: #efefef;
        border-color: #efefef;
    }
}

.btn-outline-primary {
    color: $primary-color;
    border-color: $primary-color;
    &:hover {
        color: #fff;
        background-color: $primary-color;
        border-color: $primary-color;
    }
    &:focus,
    &.focus {
        color: #fff;
        background-color: $primary-color;
        border-color: $primary-color;
    }
    &:active,
    &.active {
        color: #fff;
        background-color: $primary-color;
        border-color: $primary-color;
        &:hover,
        &:focus,
        &.focus {
            color: #fff;
            background-color: $primary-color;
            border-color: $primary-color;
        }
    }
}

.btn-outline-secondary {
    color: $secondary-color;
    border-color: $secondary-color;
    &:hover {
        color: #fff;
        background-color: $secondary-color;
        border-color: $secondary-color;
    }
    &:focus,
    &.focus {
        color: #fff;
        background-color: $secondary-color;
        border-color: $secondary-color;
    }
    &:active,
    &.active {
        color: #fff;
        background-color: $secondary-color;
        border-color: $secondary-color;
        &:hover,
        &:focus,
        &.focus {
            color: #fff;
            background-color: $secondary-color;
            border-color: $secondary-color;
        }
    }
}

.btn-outline-success {
    color: $success-color;
    border-color: $success-color;
    &:hover {
        color: #fff;
        background-color: $success-color;
        border-color: $success-color;
    }
    &:focus,
    &.focus {
        color: #fff;
        background-color: $success-color;
        border-color: $success-color;
    }
    &:active,
    &.active {
        color: #fff;
        background-color: $success-color;
        border-color: $success-color;
        &:hover,
        &:focus,
        &.focus {
            color: #fff;
            background-color: $success-color;
            border-color: $success-color;
        }
    }
}

.btn-outline-danger {
    color: $danger-color;
    border-color: $danger-color;
    &:hover {
        color: #fff;
        background-color: $danger-color;
        border-color: $danger-color;
    }
    &:focus,
    &.focus {
        color: #fff;
        background-color: $danger-color;
        border-color: $danger-color;
    }
    &:active,
    &.active {
        color: #fff;
        background-color: $danger-color;
        border-color: $danger-color;
        &:hover,
        &:focus,
        &.focus {
            color: #fff;
            background-color: $danger-color;
            border-color: $danger-color;
        }
    }
}

.btn-outline-warning {
    color: $warning-color;
    border-color: $warning-color;
    &:hover {
        color: #212529;
        background-color: $warning-color;
        border-color: $warning-color;
    }
    &:focus,
    &.focus {
        color: #212529;
        background-color: $warning-color;
        border-color: $warning-color;
    }
    &:active,
    &.active {
        color: #212529;
        background-color: $warning-color;
        border-color: $warning-color;
        &:hover,
        &:focus,
        &.focus {
            color: #212529;
            background-color: $warning-color;
            border-color: $warning-color;
        }
    }
}

.btn-outline-info {
    color: $info-color;
    border-color: $info-color;
    &:hover {
        color: #fff;
        background-color: $info-color;
        border-color: $info-color;
    }
    &:focus,
    &.focus {
        color: #fff;
        background-color: $info-color;
        border-color: $info-color;
    }
    &:active,
    &.active {
        color: #fff;
        background-color: $info-color;
        border-color: $info-color;
        &:hover,
        &:focus,
        &.focus {
            color: #fff;
            background-color: $info-color;
            border-color: $info-color;
        }
    }
}

.btn-outline-light {
    color: #f8f9fa;
    border-color: #f8f9fa;
    &:hover {
        color: #212529;
        background-color: #f8f9fa;
        border-color: #f8f9fa;
    }
    &:focus,
    &.focus {
        color: #212529;
        background-color: #f8f9fa;
        border-color: #f8f9fa;
    }
    &:active,
    &.active {
        color: #212529;
        background-color: #f8f9fa;
        border-color: #f8f9fa;
        &:hover,
        &:focus,
        &.focus {
            color: #212529;
        background-color: #f8f9fa;
        border-color: #f8f9fa;
        }
    }
}

.btn-outline-gray {
    color: #343a40;
    border-color: #c5c5c5;
    &:hover {
        color: #333;
        background-color: #c5c5c5;
        border-color: #c5c5c5;
    }
    &:focus,
    &.focus {
        color: #212529;
        background-color: #c5c5c5;
        border-color: #c5c5c5;
    }
    &:active,
    &.active {
        color: #212529;
        background-color: #c5c5c5;
        border-color: #c5c5c5;
        &:hover,
        &:focus,
        &.focus {
            color: #212529;
            background-color: #c5c5c5;
            border-color: #c5c5c5;
        }
    }
}

.btn-outline-dark {
    color: #343a40;
    border-color: #343a40;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}


.btn-outline-dark.disabled,
.btn-outline-dark:disabled {
    color: #343a40;
    background-color: transparent;
}

.btn-outline-dark:not(:disabled):not(.disabled):active,
.btn-outline-dark:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark.dropdown-toggle {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}


.btn-link {
    font-weight: 400;
    color: #007bff;
    text-decoration: none;
}

.btn-link:hover {
    color: #0056b3;
    text-decoration: underline;
}

.btn-link:focus,
.btn-link.focus {
    text-decoration: underline;
    box-shadow: none;
}

.btn-link:disabled,
.btn-link.disabled {
    color: #6c757d;
    pointer-events: none;
}

.btn-group-lg>
.btn, .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}

.btn-group-sm>.btn, 
.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-block + .btn-block {
    margin-top: 0.5rem;
}
