input[type="email"],
input[type="password"],
input[type="text"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-focus-ring-color: none;
    outline: none;
}

textarea {
    resize: none;
}

label.error {
    font-weight: 400;
    color: #a94442;
    font-size: 13px;
    margin-bottom: 0;
}

form {
    label {
        margin-bottom: 10px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 600;
        .label-helper {
            margin-left: 5px;
            font-size: smaller;
            color: #8b7d90;
        }
    }
    .form-group {
        position: relative;
        margin-bottom: 20px;
    }
    .form-control {
        border-radius: 2px;
        height: 40px;
        &.error {
            border-color: #fe4f4f !important;
            &:focus {
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(254, 79, 79, 0.5);
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(254, 79, 79, 0.5);
            }
        }
        &[readonly],
        &.readonly {
            background-color: #EBF0F2;
            box-shadow: none;
        }
        &[disabled],
        &.disabled {
            opacity: .75;
            background-color: #EBF0F2;
            box-shadow: none;
            cursor: not-allowed;
        }
    }
    textarea,
    select[multiple] {
        height: auto;
    }
    @media(max-width: 767px) {
        .form-control {
            font-size: 16px;
        }
        // disable auto-zoom on iphone input field focus
        input[type='number']:focus,
        input[type='text']:focus,
        textarea:focus {
            font-size: 16px;
        }
        // disable auto-zoom on iphone input field focus
        @media screen and (-webkit-min-device-pixel-ratio:0) {
            input:focus,
            select:focus,
            textarea:focus {
                font-size: 16px;
            }
        }
    }
}

.form-primary {
    .form-control {
        border-color: $secondary-color;
        background-color: transparent;
        &:focus {
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(17, 203, 156, 0.5);
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(17, 203, 156, 0.5);
        }
    }
    .bc-checkbox {
        input {
            &:checked ~ span:before {
                color: #fff;
                background-color: $secondary-color;
            }
        }
        span:before {
            background-color: #fff;
            border-color: $secondary-color;
        }
    }
    .bc-radio {
        input {
            &:checked ~ span:before {
                color: $secondary-color;
            }
        }
        span:before {
            border-color: $secondary-color;
        }
    }
}

.form-dark {
    label {
        color: #161720;
    }
    .form-control {
        border-color: #161720;
        box-shadow: none;
        background-color: transparent;
        color: #161720;
        &:focus {
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(255, 255, 255, 0.8);
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(255, 255, 255, 0.8);
        }
    }
    .bc-checkbox {
        input {
            &:checked ~ span:before {
                color: #161720;
            }
        }
        span {
            &:before {
                background-color: transparent;
                border-color: #161720;
            }
        }
    }
    .bc-radio {
        input {
            &:checked ~ span:before {
                color: #161720;
            }
        }
        span:before {
            border-color: #161720;
        }
    }
}

.form-light {
    label {
        color: #fff;
    }
    .form-control {
        border-color: #fff;
        box-shadow: none;
        background-color: transparent;
        color: #fff;
        &:focus {
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(255, 255, 255, 0.8);
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(255, 255, 255, 0.8);
        }
    }
    .bc-checkbox {
        input {
            &:checked ~ span:before {
                color: #333;
                background-color: #fff;
            }
        }
        span {
            &:before {
                background-color: transparent;
                font-weight: 600;
            }
        }
    }
    .bc-radio {
        input {
            &:checked ~ span:before {
                color: #fff;
            }
        }
        span:before {
            border-color: #fff;
        }
    }
}

.bc-checkbox,
.bc-radio {
    position: relative;
    display: block;
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    label {
        padding: 0;
        margin-bottom: 0;
        user-select: none;
        cursor: pointer;
    }
    input {
        display: none;
        &[disabled] {
            ~ span {
                opacity: 0.75;
                cursor: not-allowed;
            }
        }
    }
    input ~ span {
        position: relative;
        padding-left: 25px;
        &:before {
            position: absolute;
            position: absolute;
            left: 0;
            top: 2px;
            width: 16px;
            height: 16px;
            border: 1px solid #d4d4d4;
            font-family: 'Font Awesome 5 Pro';
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            color: transparent;
        }
    }
}

.checkbox-inline,
.radio-inline {
    display: inline-block;
    margin-top: 10px !important;
}

.bc-checkbox {
    input {
        &:checked ~ span:before {
            color: #333;
        }
    }
    span {
        &:before {
            font-weight: 500;
            display: inline-block;
            line-height: 16px;
            text-align: center;
            font-size: 12px;
            content: "\f00c";
        }
    }
}

.bc-radio {
    input {
        &:checked ~ span:before {
            color: #3e3e3e;
        }
    }
    span {
        &:before {
            display: flex;
            display: -ms-flexbox;
            -ms-flex-align: center;
            align-items: center;
            justify-content: center;
            -ms-flex-pack: justify;
            background-color: transparent;
            font-weight: 900;
            border-radius: 50%;
            font-size: 10px;
            content: "\f111";
        }
    }
}

.bc-radiobutton {
    display: block;
    margin: 5px 0 10px;
    label {
        display: block;
        cursor: pointer;
        padding: 0;
    }
    input {
        &[type="radio"] {
            display: none;
            &:checked+span {
                &:before {
                    background-color: $secondary-color;
                    box-shadow: inset #fff 0 0 0 2px;
                }
            }
        }
    }
    span {
        display: flex;
        &:before {
            border: 1px solid $secondary-color;
            content: '';
            display: flex;
            height: 16px;
            width: 16px;
            top: 0;
            bottom: 0;
            margin: auto auto auto 5px;
            border-radius: 50%;
            box-sizing: border-box;
            transition: all ease .200s;
        }
    }
}

.checkbox-group {
    .checkbox {
        margin: 0 15px 6px 0;
    }
}

.radiobutton-group {
    .bc-radiobutton {
        margin: 0 15px 6px 0;
    }
}

.bc-toggle {
    display: block;
    position: relative;
    margin-bottom: 15px;
    display: flex;
    display: -ms-flex;
    align-items: center;
    -ms-flex-align: center;
    label.toggle-label {
        display: inline-block;
        margin: 0 10px;
        font-weight: normal;
        user-select: none;
    }
    label.toggle-ui {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        height: 20px;
        width: 38px;
        input {
            display: none;
            &:checked ~ span {
                &:before {
                    background-color: $secondary-color;
                    opacity: 0.5;
                }
                &:after {
                    background-color: $secondary-color;
                    left: 20px;
                }
            }
        }
        span {
            position: relative;
            display: block;
            cursor: pointer;
            &:before,
            &:after {
                position: absolute;
                transition: all 0.15s ease-in-out;
                content: "";
            }
            &:before {
                top: 4px;
                width: 38px;
                height: 12px;
                background: #e2e2e2;
                box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.15);
                border-radius: 8px;
            }
            &:after {
                position: absolute;
                top: 0;
                left: -4px;
                width: 20px;
                height: 20px;
                border-radius: 16px;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
                transition: all 0.15s ease-in-out;
                background-color: #efefef;
                content: '';
            }
        }
    }
}