@media only screen and (max-width: 767px) {
    .bc-responsive-table table,
    .bc-responsive-table thead,
    .bc-responsive-table tbody,
    .bc-responsive-table tfoot,
    .bc-responsive-table th,
    .bc-responsive-table td,
    .bc-responsive-table tr {
      display: block;
    }
    .bc-responsive-table thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    .bc-responsive-table tr {
      margin-bottom: 10px;
      border: 1px solid #ccc;
    }
    .bc-responsive-table tbody td {
      border: none;
      border-bottom: 1px solid #eee !important;
      position: relative;
      padding-left: 40% !important;
      white-space: normal;
      text-align: left;
    }
   
    .bc-responsive-table td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-align: left;
      font-weight: bold;
    }
    .bc-responsive-table td:before {
      content: attr(data-title);
    }
}