<div class="main-panel-content">
    <div class="h3 text-title mb-20">Typefaces</div>

    <p><strong>Boncado's primary typeface is Quicksand</strong> - this font family is fun and clean. It renders smoothly in all sizes and lets the users feel at ease. Roboto, on the other hand, is the secondary typeface. Roboto is a clean surface and goes well with the primary. It is easy to read and works well as the content font.</p>

    <div class="h4 fw-bold mb-10">Syles</div>
    <p>There are styles to be followed in constructing paragraphs, quotations, headings, and subheadings. Considering the font size, weight and style combination.</p>

    <br>

    <div class="h5 fw-bold">Headings</div>

    <div class="typography-table bordered-box">
        <div class="table-row">
            <h1>The quick brown fox jumps over the lazy dog.</h1>
            <p>36px</p>
        </div>
        <div class="table-row">
            <h2>The quick brown fox jumps over the lazy dog.</h2>
            <p>30px</p>
        </div>
        <div class="table-row">
            <h3>The quick brown fox jumps over the lazy dog.</h3>
            <p>24px</p>
        </div>
        <div class="table-row">
            <h4>The quick brown fox jumps over the lazy dog.</h4>
            <p>18px</p>
        </div>
        <div class="table-row">
            <h5>The quick brown fox jumps over the lazy dog.</h5>
            <p>14px</p>
        </div>
        <div class="table-row">
            <h6>The quick brown fox jumps over the lazy dog.</h6>
            <p>12px</p>
        </div>
    </div>

    <br>

    <div class="h5 fw-bold">Paragraph</div>
    <div class="bordered-box px-30 py-20 mb-50">
        <h4>The quick brown fox jumps over the lazy dog.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <div class="h5 fw-bold">Blockquote</div>
    <div class="bordered-box px-30 py-30 mb-50">
        <blockquote>
            <h4 class="mt-0">The quick brown fox jumps over the lazy dog.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
    </div>

</div>
