@import '~src/styles/abstracts/variables';

.navbar {
    position: fixed;
    z-index: 1030;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    border: 0;
    background-color: #0E0E14;
    .navbar-brand {
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        font-size: 24px;
        color: $secondary-color;
    }
}