$primary-color: #F61869;
$primary-color-light: #FF5191;
$primary-color-dark: #CF0D54;

$secondary-color: #11CB9C;
$secondary-color-light: #37E6BA;
$secondary-color-dark: #00B486;

$tertiary-color: #161720;
$tertiary-color-light: #2B2D3E;
$tertiary-color-dark: #08080D;

$success-color: #29E399;
$success-color-dark: #29E399;

$danger-color: #FE4F4F;
$danger-color-dark: #FE4F4F;

$warning-color: #FFCB51;
$warning-color-dark: #FFCB51;

$info-color: #39C9FF;
$info-color-dark: #39C9FF;