.bs-example-tooltips {
    text-align: center;
  }
  .bs-example-tooltips > .btn {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .bs-example-tooltip .tooltip {
    position: relative;
    display: inline-block;
    margin: 10px 20px;
    opacity: 1;
  }