<div class="main-panel-content">
    <div class="h3 ff-quicksand">Introduction</div>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem id sapiente repudiandae qui ullam molestiae maiores eum consequuntur? Ipsum eum quas suscipit tempora molestias fuga debitis sapiente eos id? Neque.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem laudantium aspernatur nihil nobis, aliquam obcaecati ea nemo, eveniet magni error nam, esse ad sit consequatur reiciendis? Doloribus quis ducimus neque.</p>
</div>
