<div class="sidebar" [ngStyle]="sidebarStyles">
    <!-- <div class="h5 text-white mb-3">Style Guide</div> -->
    <ul class="sidebar-nav">
        <li><a href="#" [class.active]="activeItem == 'Home' ? true : false" routerLink="">Introduction</a></li>
        <li><a href="#" [class.active]="activeItem == 'Typography' ? true : false" routerLink="/typography">Typography</a></li>
        <li><a href="#" [class.active]="activeItem == 'Iconography' ? true : false" routerLink="/iconography">Iconography</a></li>
        <li><a href="#" [class.active]="activeItem == 'Color Palette' ? true : false" routerLink="/color-palette">Color Palette</a></li>
        <li><a href="#" [class.active]="activeItem == 'Buttons' ? true : false" routerLink="/buttons">Buttons</a></li>
        <li><a href="#" [class.active]="activeItem == 'Forms' ? true : false" routerLink="/forms">Form Elements</a></li>
        <li><a href="#">Tooltips and Popovers</a></li>
        <li><a href="#">Modals</a></li>
        <li><a href="#">Data Elements</a></li>
        <li><a href="#">Navigation Menus</a></li>
        <li><a href="#">Charts and Data Visualisation</a></li>
        <li><a href="#">Tabs</a></li>
        <li><a href="#">Dialogs</a></li>
        <li><a href="#">Toolbars</a></li>
        <li><a href="#">Loading Indicators</a></li>
        <li><a href="#">Checkboxes</a></li>
        <li><a href="#">Alerts</a></li>
        <li><a href="#">Dropdown Menus</a></li>
        <li><a href="#">Sliders</a></li>
        <li><a href="#">Steppers</a></li>
        <li><a href="#">Pagination</a></li>
    </ul>
</div>
