<div class="sidebar" [ngStyle]="sidebarStyles">
    <!-- <div class="h5 text-white mb-3">Style Guide</div> -->
    <ul class="sidebar-nav">
        <li><a href="#" [class.active]="activeItem == 'Home' ? true : false" routerLink="">Introduction</a></li>
        <li><a href="#" [class.active]="activeItem == 'Typography' ? true : false" routerLink="/typography">Typography</a></li>
        <li><a href="#" [class.active]="activeItem == 'Iconography' ? true : false" routerLink="/iconography">Iconography</a></li>
        <li><a href="#" [class.active]="activeItem == 'Color Palette' ? true : false" routerLink="/color-palette">Color Palette</a></li>
        <li><a href="#" [class.active]="activeItem == 'Buttons' ? true : false" routerLink="/buttons">Buttons</a></li>
        <li><a href="#" [class.active]="activeItem == 'Forms' ? true : false" routerLink="/forms">Forms</a></li>
        <li><a href="#" [class.active]="activeItem == 'Form Controls' ? true : false" routerLink="/form-controls">Form Controls</a></li>
        <li><a href="#" [class.active]="activeItem == 'Tables' ? true : false" routerLink="/tables">Tables</a></li>
        <li><a href="#" [class.active]="activeItem == 'Modals' ? true : false" routerLink="/modals">Modals</a></li>
        <li><a href="#" [class.active]="activeItem == 'Tooltips' ? true : false" routerLink="/tooltips">Tooltips</a></li>
        <!-- <li><a href="#" [class.active]="activeItem == 'Popovers' ? true : false" routerLink="/popovers">Popovers</a></li> -->
        <!-- <li><a href="#">Tabs</a></li> -->
        <li><a href="#" [class.active]="activeItem == 'Libraries' ? true : false" routerLink="/libraries">Plugins / Libraries</a></li>
    </ul>
</div>
