<div class="main-panel-content">
    <div class="mb-30">
        <div class="h3 text-title">Iconography</div>
        <p>Boncado is using Fontawesome Pro for the icons. These font icons are clean and exhaustive.</p>

        <br>
        <p>Planning to develop a standalone project for this but for the meantime, you can use their main site. <a target="_blank" class="text-secondary text-underline" href="https://fontawesome.com/">https://fontawesome.com/</a> slow and takes extra steps to get what you want though.</p>
    </div>
</div>