<div class="main-panel-content">
    <div class="mb-30">
        <div class="h3 ff-quicksand">Brand Colors</div>
        <p>These are the brand colors being used for elements. Primary colors accompanied by their lighter and darker shade.</p>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="color-item-card">
                <div class="color-shades d-flex">
                    <div class="shade-box bg-primary-light"></div>
                    <div class="shade-box bg-primary">P</div>
                    <div class="shade-box bg-primary-dark"></div>
                </div>
                <div class="h4 fw-bold">Cerise Red</div>
                <span>#F61869</span>
                <p class="fw-light mt-10">Used to emphasize a phrase or a word in paragraph or headings.</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="color-item-card">
                <div class="color-shades d-flex">
                    <div class="shade-box bg-secondary-light"></div>
                    <div class="shade-box bg-secondary">P</div>
                    <div class="shade-box bg-secondary-dark"></div>
                </div>
                <div class="h4 fw-bold">Tradewind</div>
                <span>#11CB9C</span>
                <p class="fw-light mt-10">Used to emphasize a phrase or a word in paragraph or headings.</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="color-item-card">
                <div class="color-shades d-flex">
                    <div class="shade-box bg-tertiary-light"></div>
                    <div class="shade-box bg-tertiary">P</div>
                    <div class="shade-box bg-tertiary-dark"></div>
                </div>
                <div class="h4 fw-bold">Steal Gray</div>
                <span>#161720</span>
                <p class="fw-light mt-10">Used to emphasize a phrase or a word in paragraph or headings.</p>
            </div>
        </div>
    </div>


    <div class="spacer mb-50"></div>


    <div class="mb-30">
        <div class="h3 ff-quicksand">UI Colors</div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="color-item-card">
                <div class="color-box bg-info"></div>
                <div class="h4 fw-bold">Light blue</div>
                <span>#39C9FF</span>
                <p class="fw-light mt-10">This color represents information Information.</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="color-item-card">
                <div class="color-box bg-success"></div>
                <div class="h4 fw-bold">Tradewind</div>
                <span>#39C9FF</span>
                <p class="fw-light mt-10">This color represents positive or success response.</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="color-item-card">
                <div class="color-box bg-danger"></div>
                <div class="h4 fw-bold">Alizarin</div>
                <span>#39C9FF</span>
                <p class="fw-light mt-10">This color represents negative or error response.</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="color-item-card">
                <div class="color-box bg-warning"></div>
                <div class="h4 fw-bold">Sun Flower</div>
                <span>#39C9FF</span>
                <p class="fw-light mt-10">This color represents warning or notice response.</p>
            </div>
        </div>
    </div>


    <div class="spacer mb-50"></div>

    <div class="mb-30">
        <div class="h3 ff-quicksand">Typography/Text Colors</div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="color-item-card">
                <div class="color-shades d-flex">
                    <div class="shade-box bg-tertiary-light"></div>
                    <div class="shade-box bg-tertiary">P</div>
                    <div class="shade-box bg-tertiary-dark"></div>
                </div>
                <div class="h4 fw-bold">Steal Gray</div>
                <span>#161720</span>
                <p class="fw-light mt-10">Used to emphasize a phrase or a word in paragraph or headings.</p>
            </div>
        </div>
    </div>


</div>
