/* You can add global styles to this file, and also import other style files */

// configurations
@import '~src/styles/abstracts/variables';

// base 
@import '~src/styles/base/reboot';
@import '~src/styles/base/base';
@import '~src/styles/base/typography';


// compontents
@import '~src/styles/components/buttons';
@import '~src/styles/components/forms';
@import '~src/styles/components/tables';
@import '~src/styles/components/modals';
@import '~src/styles/components/tooltips';
@import '~src/styles/components/popovers';
@import '~src/styles/components/callout';

// utilities
@import '~src/styles/utilities/bootstrap-4-utilities';
@import '~src/styles/utilities/spacing';
@import '~src/styles/utilities/color';
@import '~src/styles/utilities/type';

// boncado-styleguide app styles
@import '~src/styles/app/syntax';
@import '~src/styles/app/docs';
@import '~src/styles/app/app';




body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

a {
    color: inherit;
    text-decoration: none;
    &:hover {
        color: inherit;
        text-decoration: underline;
    }
}